// Color system

$light:           #E6E6E6; //
$dark:            #1C1C1C; //

$white:    		  #ffffff;
$gray: 			  #BCC1C8;
$black:    		  #000000;

$primary:         #EB6042; //
$primary-light:   #ff7759; //
$primary-lighter: #ff947c; //
$primary-dark:	  #fa4b23; //
$secondary:       #FFD468; //
$secondary-light: #FFE8B1; //
$success:         #23D440;
$info:            #0DA1CB;
$warning:         #FED47D;
$danger:          #FF0000; //


$border-color: 	  #BEBEBE;

$container-margin: 7.5vw;
$container-margin-mobile: 20px;